/* Global Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff; /* Adjusted text color for better readability on dark background */
  background-color: #1E352F; /* Dark green background */
  text-align: center;
  font: 400 15px/1.8 "Lato", sans-serif;
  line-height: 3.0;
  letter-spacing: 1px;
  font-size:medium;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(46, 112, 14) 50%, #1E352F 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
      transform:translateX(-25%);
  }

  100% {
      transform:translateX(25%);
  }
}

a {
  color: #4CAF50; /* Green link color */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  width: 75%;
  margin: 0 auto;
  padding: 15px;
  border-bottom: #ccc 1px solid;
  border-radius: 20px;
  background-color: #1E352F; /* Dark green background */
  background-image: linear-gradient(#1E352F 50%, #2C4B40 50%); /* Replace with your desired pattern */
  background-size: 2px 2px; /* Adjust size as needed */
}



nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

/* Main Styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  background-color: #4CAF50; /* Green button background */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #000; /* Black footer background */
  /* ... (unchanged styles) ... */
}

footer p {
  font-size: 14px;
  color: #666;
  margin: 0;
  background-color: #003A34;
}

.bot {
  width: 200px;
  height: 150px;
}